$black: #000;
$white:#fff;
$whiteTwo: #f0f0f0;
html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.table {
    border: none;
    &-definition thead th:first-child {
        pointer-events: none;
        background: white;
        border: none;
    }
    td{
        vertical-align: middle; 
    }
}

.page-item > * {
    border: none;
}