$black: #000;
$white:#fff;
html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    padding: 0;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    overflow: hidden;
    &-block {
        position: relative;
        font-size: 1em;
        margin: 0;
        padding: 1em;
        border: none;
        border-top: 1px solid rgba(34, 36, 38, .1);
        box-shadow: none;
    }
    &-img-top {
        display: block;
        width: 100%;
        height: auto;
    }
    &-title {
        font-size: 1.28571429em;
        font-weight: 700;
        line-height: 1.2857em;
    }
    &-text {
        clear: both;
        margin-top: .5em;
        color: rgba($black, 0.68);
    }
    &-footer {
        font-size: 1em;
        position: static;
        top: 0;
        left: 0;
        max-width: 100%;
        padding: .75em 1em;
        color: rgba($black, 0.4);
        border-top: 1px solid rgba($black, 0.05)!important;
        background: $white;
    }
    &-inverse{
        .btn{
            border: 1px solid rgba(0, 0, 0, 0.05);
        }       
    }
}  


.profile {
    position: absolute;
    top: -12px;
    display: inline-block; 
    box-sizing: border-box ;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $white;
    margin: 0; 
    &-avatar {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    &-inline{
        position: relative;
        display: inline-block;
        top: 0;
        &~.card-title{
            display: inline-block;
            vertical-align: top;
            margin-left: 4px;
        }
    }
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba($black, .4);
    a {
        text-decoration: none;
        color: rgba($black, 0.4);
        &:hover {
            color: rgba($black, 0.87);
        }
    }
}
