
html, body{
  font-family: "San Francisco Display", Helvetica Neue, Helvetica, sans-serif;
  box-sizing: border-box;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  font-size: 16px;
}
