@font-face {
  font-family: circular-book;
  src: url(../fonts/CircularStd-Book.eot);
  src: url(../fonts/CircularStd-Book.woff) format("woff"),
  url(../fonts/CircularStd-Book.ttf) format("truetype"),
  url(../fonts/CircularStd-Book.svg#Graphik-Semibold) format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal
}


html,
body {
  box-sizing: border-box;
  font-family: circular-book,"Helvetica Neue",sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  font-size: 16px;
}