//@font-face {
//  font-family: 'Poppins';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Poppins Regular'),
//  url(../fonts/Poppins/Poppins-Regular.ttf) format('ttf');
//}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'),
  url(../fonts/Rubik/Rubik-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik Regular'),
  url(../fonts/Rubik/Rubik-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'),
  url(../fonts/Rubik/Rubik-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'),
  url(../fonts/Rubik/Rubik-Bold.ttf) format('ttf');
}

html,
body {
  //font-family: Poppins,"Helvetica Neue",sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  font-size: 14px;
}
