.is-login{
  align-items: center;
  display: flex;
  min-height: 100vh;
}
.login-container{
  max-width: 400px;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  margin: 0 auto 0;
  background: $white;
}
.login-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  .company-logo {
    flex: 0 0 100%;
    margin-bottom: 2rem;
    .logo {
      width: 60px;
    }
  }

  .btn{
    height: 36px;
    width: 200px;
    border-radius: 3px;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .btn-login-fb{
    color: $white;
    background-color: #4267b2;
  }
  .btn-login-google{
    color: $white;
    background-color: #d83f1f;
  }
  .btn-link{
    font-weight: 400;
  }
}
