.header {
  min-height: 70px;
  position: relative;
}
.navbar-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}
.navbar {
  background: $white;
  padding: 0 15px;
  color: #aea9c3;
  border-radius: 0;
  box-shadow: 0 1px 0 #eee;
  z-index: 1000;
  width: 100%;
  a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
  }
  .badge {
    display: block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    &-pulse {
      background: $danger;
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      box-shadow: 0 0 0 rgba($danger,.4);
      animation: BadgePulse 1.8s infinite;
    }
  }
  .navbar-brand {
    .brand-big {
      @include media-breakpoint-down(md){
        display: none;
      }
      .logo-big {
        width: 140px;
      }
    }
    .brand-small {
      display: none;
      @include media-breakpoint-down(md){
        display: block;
      }
      .logo-small {
        width: 40px;
      }
    }
  }
  .menu-btn {
    margin-right: 0;
    font-size: 1.2em;
    vertical-align: middle;
    padding: 0;
    span {
      background: #aea9c3;
      width: 20px;
      height: 2px;
      display: block;
      margin: 7px 0;
      border-radius: 35px;
      transition: all 0.3s cubic-bezier(.81, -.33, .345, 1.375);
      &:nth-of-type(2) {
       position: relative;
       width: 30px;
      }
      &:last-of-type {
       position: relative;
       width: 15px;
       margin-top: 0;
      }
      &:first-of-type {
       margin-top: 0;
       transition: all 0.6s;
      }
    }
    &.active,&:hover {
      span:first-of-type {
        transform: translateX(10px);
        margin-top: 0;
      }
      span:nth-of-type(2) {
        transform: none;
      }
      span:last-of-type {
        margin-top: 0;
        transition: all 0.3s;
      }
      span:last-of-type {
        transform: translateX(15px);
        margin-top: 0;
      }
    }
  }

  .nav-item {
    >.nav-link {
      position: relative;
      font-size: 1.8rem;
      padding: 0;
      width: 50px;
      text-align: center;
      line-height: 70px;
      @include media-breakpoint-down(sm){
        width: 40px;
      }
      span {
        position: absolute;
        top: 20px;
        right: 10px;
        border: 3px solid $white;
      }
    }
    .dropdown-menu{
      min-width: 300px;
      overflow: hidden;
      right: 0;
      top: 60px;
      left:auto;
      border: none;
      box-shadow: 0 1px 14px rgba(0, 0, 0, 0.15);
      a{
        padding: 4px 8px;
      }
    }
    .notification {
      border: none;
      &-top {
        font-size: 16px;
        text-align: center;
        color: $primary;
        padding: 15px 0;
        position: relative;
        span{
          color: $danger;
        }
        &:after,&:before{
          content: "";
          height: 1px;
          width: 20%;
          background: hsl(252, 18%, 71%);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &:before{
          left: auto;
          right: 0;
        }
      }
      $this: ".notification";
      a {
        padding: 10px 5px 10px;
        width: 100%;
        #{$this}-icon {
          display: table-cell;
          font-size: 3rem;
          vertical-align: middle;
          color: lighten($primary, 25);
          width: 60px;
          text-align: center;
          line-height: 1;
        }
        #{$this}-body {
          display: table-cell;
          vertical-align: bottom;
          color: lighten($primary, 15);
          padding-left: 5px;
          &-heading {
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.2rem;
          }
          .time {
            font-size: 11px;
            vertical-align: top;
            font-weight: 400;
          }
        }
        &:hover {
          background: rgba($primary, 0.04);
          #{$this}-icon {
            color: $primary;
          }
          #{$this}-body {
            color: $primary;
          }
        }
      }
    }
  }

  .search-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: #fff;
    z-index: 9999;
    border-radius: 0;
    display: none;
    .dismiss {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      color: #5d5386;
    }
    form {
      height: 100%;
      input {
        height: 100%;
        border: none;
        padding: 20px;
        color: #5d5386;
        &::placeholder {
          color: #2a2c3d;
          font-weight: 500;
        }
      }
    }
  }

  .user{
    line-height: 70px;
  }
  .avatar {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: .2rem solid $white;
    @include media-breakpoint-down(sm){
      width: 40px;
      height: 40px;
      margin: 0 auto;
    }
  }
}


