.header {
  min-height: 70px;
  position: relative;
}
.navbar-header {
  .logo-big {
    width: 170px;
  }
  .logo-small {
    width: 70px;
  }
}
.navbar-holder {
  width: 100%
}


nav.navbar {
  background: #fff;
  padding: 0 15px;
  color: #aea9c3;
  border-radius: 0;
  box-shadow: 0 1px 0 #eee;
  z-index: 1000;
  width: 100%;
  .badge {
    display: block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    &-pulse {
      background: $danger;
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      box-shadow: 0 0 0 rgba($danger,.4);
      animation: BadgePulse 1.8s infinite;
    }
  }
  .navbar-brand .brand-small {
    display: none;
  }
  a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
  }

  .menu-btn {
    margin-right: 0;
    font-size: 1.2em;
    vertical-align: middle;
    padding: 0;
    span {
      background: #aea9c3;
      width: 20px;
      height: 2px;
      display: block;
      margin: 7px 0;
      border-radius: 35px;
      transition: all 0.3s cubic-bezier(.81, -.33, .345, 1.375);
      &:nth-of-type(2) {
       position: relative;
       width: 30px;
      }
      &:last-of-type {
       position: relative;
       width: 15px;
       margin-top: 0;
      }
      &:first-of-type {
       margin-top: 0;
       transition: all 0.6s;
      }
    }
    .active {
      span:first-of-type {
        transform: translateX(10px);
        margin-top: 0;
      }
      span:nth-of-type(2) {
        transform: none;
      }
      span:last-of-type {
        margin-top: 0;
        transition: all 0.3s;
      }
      span:last-of-type {
        transform: translateX(15px);
        margin-top: 0;
      }
    }
  }
  .nav-item>a {
    position: relative;
    font-size: 1.8rem;
    padding: 0;
    width: 50px;
    text-align: center;
    line-height: 70px;
  }
  .nav-item>a span {
    position: absolute;
    top: 20px;
    right: 10px;
    border: 3px solid #fff;
  }
  .nav-item>a.logout i {
    margin-left: 10px;
  }
  .search-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: #fff;
    z-index: 9999;
    border-radius: 0;
    display: none;
    .dismiss {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      color: #5d5386;
    }
    form {
      height: 100%
    }
    form input {
      height: 100%;
      border: none;
      padding: 20px;
      color: #5d5386;
    }
    form input::placeholder {
      color: #2a2c3d;
      font-weight: 500;
    }
  }
  .avatar {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: .2rem solid #fff;
  }
}





.navbar {
  padding: .5rem 1rem;
}
.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.navbar-toggler-left {
  left: 1rem;
}
.navbar-toggler-right {
  right: 1rem;
}

