$light-color:lighten($primary, 25);
$main-color: $primary;

.search-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -80px;
  right: 0;
  padding: 0;
  background: $white;
  z-index: 9999;
  border-radius: 0;
  transition: all $transition-time;
  &.show{
    top: 0;
  }
  .dismiss {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: $light-color;
    transition: all $transition-time;
    &:hover {
      transform: translateY(-50%) scale(1.1);
      color: $main-color;
    }
  }
  form {
    height: 100%;
    input {
      height: 100%;
      border: none;
      padding: 20px;
      color: $main-color;
      &::placeholder {
        color: $light-color;
        font-weight: 500;
      }
    }
  }
}
